html * {
    font-family: 'Courier New';
}

img {
    height: auto;
    max-width: 95%;
}

.navBar {
    background-color: #616161;
    color: #F7F7F7;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    border-radius: 15px;
}

.navItem {
    float: left;
}

.navTheme {
    float: right;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 7px 7px;
    margin: 4px 2px;
}

.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

body {
    max-width: 800px;
    margin: auto;
    background-color: #393E46;
    color: #F7F7F7
  }

.light-mode {
  background-color: #F7F7F7;
  color: #393E46;
}